@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* changes all the text-white to text-dark */
:root {
  --primary-white: #000000;
}

[data-theme='dark'] {
  --primary-white: #ffffff;
}